
<div class="row page-titles">
  <div class="col-md-auto align-self-center">
    <h3 class="text-themecolor">Title Job: Simple Registration, Confirmation and earnings in Bitcoin</h3>
  </div>
</div>


<!--=====================================================-->
<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center">
            <span class="lstick m-r-20"></span>
            <span>
              <i class="mdi mdi-cash-multiple"></i>
            </span>
          </div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">You will earn</h6>
            <h2 class="m-t-0">$0.10</h2></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center">
            <span class="lstick m-r-20"></span>
            <span>
              <i class="fa fa-check-circle"></i>
            </span>
          </div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Work Done</h6>
            <h2 class="m-t-0">10 / 100</h2></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center">
            <span class="lstick m-r-20"></span>
            <span>
              <i class="fa fa-clock-o"></i>
            </span>
          </div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Time of this task</h6>
            <h2 class="m-t-0">3 minutes</h2></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex no-block">
          <div class="m-r-20 align-self-center">
            <span class="lstick m-r-20"></span>
            <span>
              <i class="ti-world"></i>
            </span>
          </div>
          <div class="align-self-center">
            <h6 class="text-muted m-t-10 m-b-0">Countries</h6>
            <h2 class="m-t-0">International</h2></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=====================================================-->


<!--======================================================-->
<div class="row">
  <div class="col-12 col-sm-12 col-md-6">

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">What is expected from workers?</h2>
<!--        <div class="card-text">-->
          <ul class="list-icons">
            <li>
              <i class="fa fa-check text-info"></i>
              Step 1: Enter the link that will leave you and download the application that appears there https://get.cryptobrowser.site/4531158
            </li>
            <li>
              <i class="fa fa-check text-info"></i>
              Step 2: Install the application and Register.
            </li>
            <li>
              <i class="fa fa-check text-info"></i>
              Step 3: Look at the video that appears there and follow the corresponding steps.
            </li>
            <li>
              <i class="fa fa-check text-info"></i>
              Step 4: Mine bitcoins for a month and apply what you have learned.
            </li>
          </ul>
<!--        </div>-->
      </div>
    </div>
  </div>


  <div class="col-12 col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">PROOF BOX - Enter the proof in the box below</h2>
        <div class="card-text">
          <label for="input7">Enter the urls of the requested images</label>
          <span class="bar"></span>
          <textarea class="form-control" rows="4" id="input7"></textarea>
          <button type="button" class="btn btn-block btn-outline-success waves-effect waves-light">Send Proofs</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Required proof that task was finished?</h2>
        <p class="card-text">
          Send me your email with the one you registered with a screenshot on the minando page to (francosantos181194@gmail.com)
          Be a month mining active and we will proceed to release the payment.
        </p>
      </div>
    </div>
  </div>

</div>
<!--======================================================-->

<div class="row">
  <div class="col-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Datos del titular</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, commodi consequuntur doloremque ducimus ea eius eum, exercitationem, harum laboriosam minima molestiae odio odit quas quos reiciendis sint unde voluptas voluptatum.
        </p>
      </div>
    </div>
  </div>
</div>
