<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">Profile</h3>
  </div>
</div>


<div class="row">
  <div class="col-lg-4 col-xlg-3 col-md-5">
    <div class="card">
      <div class="card-body justify-content-center align-items-center">
        <section class="m-t-30">
          <div class="center-objects">
            <img src="./assets/images/users/1.jpg" class="img-circle" width="150" alt=""/>
          </div>
          <div class="center-objects">
            <h4 class="card-title m-t-10">Hanna Gover</h4>
          </div>
          <div class="center-objects">
            <h6 class="card-subtitle">Accounts Manager Amix corp</h6>
          </div>
          <div class="row text-center justify-content-md-center">
            <div class="col-4 mx-auto">
              <a href="javascript:void(0)" class="link">
                <i class="icon-people"></i>
                <span class="font-medium">254</span>
              </a>
            </div>
          </div>
        </section>
      </div>
      <div>
        <hr> </div>
      <div class="card-body">
        <small class="text-muted">Email address </small>
        <h6>hannagover@gmail.com</h6> <small class="text-muted p-t-30 db">Phone</small>
        <h6>+91 654 784 547</h6> <small class="text-muted p-t-30 db">Address</small>
        <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
      </div>
    </div>
  </div>
</div>
